Repository mattsilv/coin-taxonomy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json-exports, data-integrity-check

.pre-commit-config.yaml:

# Pre-commit hooks for coin-taxonomy
# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: export-from-database
        name: Export JSON files from SQLite database (DATABASE-FIRST PIPELINE)
        entry: uv run python scripts/export_from_database.py
        language: system
        files: (database/coins\.db|scripts/export_from_database\.py)$
        pass_filenames: false
        always_run: true
        
      - id: validate-json-exports
        name: Validate JSON exports
        entry: uv run python scripts/validate.py
        language: system
        files: data/.*\.json$
        pass_filenames: false
        always_run: false
        
      - id: data-integrity-check
        name: Run data integrity check
        entry: uv run python scripts/data_integrity_check.py
        language: system
        files: (database/coins\.db|scripts/migrate.*\.py)$
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

Implement variety suffix database schema and migration scripts
  database/coins.db
  scripts/add_mercury_fb_varieties.py
  scripts/add_variety_suffix_support.py
  scripts/export_from_database.py
  scripts/quick_cents_export.py
  scripts/split_slq_types.py
  scripts/split_vdb_varieties.py
  scripts/test_mercury_fb_export.py
  scripts/test_slq_export.py
  scripts/test_variety_export.py
Due: data-integrity-check

Clarify taxonomy-only scope in documentation
  README.md
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/cents_with_varieties.json
  data/us/coins/dimes.json
  data/us/coins/quarters.json
  data/us/us_coins_complete.json
Due: validate-json-exports

🧹 Remove pricing data and clarify taxonomy-only scope
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/backfill_seated_half_dimes.py
  scripts/convert_pricing_to_rarity.py
  scripts/split_slq_types.py
  scripts/split_vdb_varieties.py
  scripts/test_mercury_fb_export.py
  scripts/test_slq_export.py
  scripts/test_variety_export.py
Due: validate-json-exports

Complete paper currency implementation from Issue #31
  data/coins.db
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/coins/paper_10_dollar.json
  data/us/coins/paper_1_dollar.json
  data/us/coins/paper_20_dollar.json
  data/us/coins/paper_2_dollar.json
  data/us/coins/paper_5_dollar.json
  data/us/coins/paper_dollar_0.03.json
  data/us/coins/paper_dollar_0.05.json
  data/us/coins/paper_dollar_0.1.json
  data/us/coins/paper_dollar_0.15.json
  data/us/coins/paper_dollar_0.25.json
  data/us/coins/paper_dollar_0.5.json
  data/us/coins/quarters.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  jefferson_nickel_fs_research.json
  scripts/add_high_liquidity_paper_currency.py
  scripts/add_sample_paper_currency.py
  scripts/export_from_database.py
  scripts/implement_fractional_currency_varieties.py
  scripts/implement_large_note_varieties.py
  scripts/implement_silver_certificate_varieties.py
  scripts/implement_standing_liberty_type_splits.py
  scripts/migrate_add_paper_currency_support.py
Due: validate-json-exports, data-integrity-check

Complete Issue #31: Add comprehensive paper currency varieties (Phases 3-5)
  database/coins.db
  scripts/implement_federal_reserve_notes.py
  scripts/implement_gold_certificates.py
  scripts/implement_national_bank_notes.py
Due: data-integrity-check

🧹 Remove pricing data and clarify taxonomy-only scope
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/coins/paper_100_dollar.json
  data/us/coins/paper_10_dollar.json
  data/us/coins/paper_20_dollar.json
  data/us/coins/paper_50_dollar.json
  data/us/coins/paper_5_dollar.json
  data/us/us_coins_complete.json
  jefferson_nickel_fs_research.json
Due: validate-json-exports

Complete Issue #28: Implement Standing Liberty Quarter Type I/Type II varieties
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/export_from_database.py
  scripts/implement_standing_liberty_quarters.py
Due: validate-json-exports, data-integrity-check

Create detailed conversation summary
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Complete Issues #32 and #33: Add Hawaii and Colonial coins
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/half_cents.json
  data/us/coins/twenty_cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_hawaii_colonial_coins.py
Due: validate-json-exports, data-integrity-check

Fix pre-commit validation for evolving taxonomy
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/fix_corrupted_varieties.py
Due: validate-json-exports, data-integrity-check

Refactor README for clarity and engineer focus
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/half_cents.json
  data/us/coins/twenty_cents.json
  data/us/us_coins_complete.json
  database/coins.db
Due: validate-json-exports, data-integrity-check

Update generated files from database fixes
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Enhance README intro with 'universal translator' positioning
  README.md
Due: none

Add real coin examples and paper currency to README
  README.md
Due: none

Complete Issue #35: Add comprehensive US gold coins (pre-1933)
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/double_eagles.json
  data/us/coins/eagles.json
  data/us/coins/gold_dollars.json
  data/us/coins/half_cents.json
  data/us/coins/half_dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/half_eagles.json
  data/us/coins/nickels.json
  data/us/coins/quarter_eagles.json
  data/us/coins/quarters.json
  data/us/coins/three_cents.json
  data/us/coins/three_dollar_gold.json
  data/us/coins/trade_dollars.json
  data/us/coins/twenty_cents.json
  data/us/coins/two_cents.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_us_gold_coins.py
  scripts/export_from_database.py
Due: validate-json-exports, data-integrity-check

Update README with gold coin statistics and examples
  README.md
Due: none

Fix pre-commit validation errors
  CLAUDE.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/cents_with_varieties.json
  data/us/coins/double_eagles.json
  data/us/us_coins_complete.json
  database/coins.db
Due: validate-json-exports, data-integrity-check

Complete Issues #37, #38, #39: Gold & Silver Bullion Implementation
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/add_gold_silver_bullion_phase1.py
  scripts/add_gold_silver_bullion_phase2.py
  scripts/add_gold_silver_bullion_phase3.py
Due: validate-json-exports

Update README to reflect complete gold & silver bullion coverage
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Complete multi-country support with Canada implementation
  data/ai-optimized/us_taxonomy_year_list.json
  data/ca/coins/ca_cents.json
  data/ca/coins/ca_dollars.json
  data/ca/coins/ca_fifty_cents.json
  data/ca/coins/ca_five_cents.json
  data/ca/coins/ca_five_dollars.json
  data/ca/coins/ca_gold_maple_leaf.json
  data/ca/coins/ca_palladium_maple_leaf.json
  data/ca/coins/ca_platinum_maple_leaf.json
  data/ca/coins/ca_silver_maple_leaf.json
  data/ca/coins/ca_sovereign.json
  data/ca/coins/ca_ten_cents.json
  data/ca/coins/ca_twenty-five_cents.json
  data/ca/coins/ca_twenty_cents.json
  data/ca/coins/ca_two_dollars.json
  data/ca/references/grades.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dollars.json
  data/us/coins/fifty_cents.json
  data/us/coins/five_cents.json
  data/us/coins/five_dollars.json
  data/us/coins/gold_maple_leaf.json
  data/us/coins/palladium_maple_leaf.json
  data/us/coins/platinum_maple_leaf.json
  data/us/coins/silver_maple_leaf.json
  data/us/coins/sovereign.json
  data/us/coins/ten_cents.json
  data/us/coins/twenty-five_cents.json
  data/us/coins/twenty_cents.json
  data/us/coins/two_dollars.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  docs/data/universal/taxonomy_summary.json
  scripts/export_canada_from_database.py
  scripts/export_from_database.py
Due: validate-json-exports

Fix edge cases in multi-country export system
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/fifty_cents.json
  data/us/coins/five_cents.json
  data/us/coins/five_dollars.json
  data/us/coins/gold_maple_leaf.json
  data/us/coins/palladium_maple_leaf.json
  data/us/coins/platinum_maple_leaf.json
  data/us/coins/silver_maple_leaf.json
  data/us/coins/sovereign.json
  data/us/coins/ten_cents.json
  data/us/coins/twenty-five_cents.json
  data/us/coins/two_dollars.json
  data/us/us_coins_complete.json
  docs/data/universal/taxonomy_summary.json
  scripts/export_from_database.py
Due: validate-json-exports

Complete Issue #41: Import Canada coins Phase 2 (1858-1967)
  coins.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/data/universal/taxonomy_summary.json
  scripts/import_canada_coins_phase2.py
  scripts/init_canada_database.py
Due: validate-json-exports

Update taxonomy summary with Canada data (2 countries)
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/data/universal/taxonomy_summary.json
Due: validate-json-exports

Complete Issue #42: Canada Phase 3 - Modern coins & bullion series
  coins.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/import_canada_coins_phase3.py
Due: validate-json-exports

Add comprehensive integration guide for external systems
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/INTEGRATION_GUIDE.md
Due: validate-json-exports

Implement standardized category field for coin vs currency classification (Issue #47)
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/double_eagles.json
  data/us/coins/eagles.json
  data/us/coins/gold_dollars.json
  data/us/coins/half_cents.json
  data/us/coins/half_dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/half_eagles.json
  data/us/coins/nickels.json
  data/us/coins/quarter_eagles.json
  data/us/coins/quarters.json
  data/us/coins/three_cents.json
  data/us/coins/three_dollar_gold.json
  data/us/coins/trade_dollars.json
  data/us/coins/twenty_cents.json
  data/us/coins/two_cents.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/release-notes/2025-09-02-category-standardization.md
  docs/release-notes/README.md
  scripts/export_canada_from_database.py
  scripts/export_from_database.py
  scripts/migrate_category_standardization.py
Due: validate-json-exports, data-integrity-check

Test: Verify pre-commit hook handles category/subcategory fields
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/us_coins_complete.json
  database/coins.db
Due: validate-json-exports, data-integrity-check

Implement Red Book Classification System alignment (Issue #48)
  data/ai-optimized/us_taxonomy_year_list.json
  data/red_book_missing_data_report.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/red_book_alignment_analysis.md
  scripts/implement_red_book_alignment.py
  us_series_list.txt
Due: validate-json-exports, data-integrity-check

Add CHANGELOG.md with v2.0.0 release notes for Red Book alignment
  CHANGELOG.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Clean up temporary files
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  us_series_list.txt
Due: validate-json-exports

Add Two-Cent Pieces dataset (1864-1873) - closes #49
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/two_cents.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_two_cent_pieces.py
  scripts/export_from_database.py
Due: validate-json-exports, data-integrity-check

Add coin variant tracking system (Issue #54)
  data/ai-optimized/us_taxonomy_year_list.json
  data/coins.db
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/add_coin_variants_table.py
  scripts/query_coin_variants.py
Due: validate-json-exports

Complete Buffalo Nickel variant implementation (Issue #55)
  data/ai-optimized/us_taxonomy_year_list.json
  data/coins.db
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/add_buffalo_nickel_variants.py
  scripts/add_variant_hierarchy.py
  scripts/complete_buffalo_nickel_variants.py
Due: validate-json-exports

Implement hierarchical variant resolution for auction mapping (Issue #56)
  CHANGELOG.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/coins.db
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/HIERARCHICAL_VARIANT_RESOLUTION.md
  scripts/migrate_hierarchical_variant_resolution.py
  scripts/variant_resolver.py
  tests/test_hierarchical_variant_resolution.py
Due: validate-json-exports, data-integrity-check

Implement auction catalog parser and hierarchical variant resolution (Issues #54, #56)
  data/ai-optimized/us_taxonomy_year_list.json
  data/coins.db
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/SPRINT_PLAN_PRIMER.md
  pyproject.toml
  scripts/auction_catalog_parser.py
  scripts/marketplace_listing_matcher.py
  scripts/update_variant_priority_scores.py
  tests/test_auction_marketplace_integration.py
Due: validate-json-exports

Update documentation for v1.3.0 release
  README.md
  RELEASE_NOTES.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Add engineering primer for next sprint (Red Book classification)
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/NEXT_SPRINT_PRIMER.md
Due: validate-json-exports

Test: Verify pre-commit hook handles category/subcategory fields
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/data_integrity_check.py
  scripts/implement_category_field.py
Due: validate-json-exports
