Repository mattsilv/coin-taxonomy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json-exports, data-integrity-check

validate-json-exports:
  name: Validate JSON exports
  entry: uv run python scripts/validate.py
  language: system
  pass_filenames: false
  always_run: false

data-integrity-check:
  name: Run data integrity check
  entry: uv run python scripts/data_integrity_check.py
  language: system
  pass_filenames: false
  always_run: false

Add series aliases for commemorative half dollars
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/migrate_add_series_aliases.py
Due: validate-json-exports, data-integrity-check

Add series aliases for commemorative half dollars
  data/universal/taxonomy_summary.json
  data/us/coins/commemorative_half_dollars.json
  data/us/us_coins_complete.json
  database/coins.db
Due: validate-json-exports, data-integrity-check

Add San Diego-Pacific alias for California-Pacific Exposition
  data/universal/taxonomy_summary.json
  data/us/coins/commemorative_half_dollars.json
  data/us/us_coins_complete.json
  database/coins.db
Due: validate-json-exports, data-integrity-check

Fix series_registry.json export to include aliases
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/export_db_v1_1.py
Due: validate-json-exports

Add complete Morgan Dollar series (1878-1904, 1921) - Issue #69
  coins.db
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/coins/dollars.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/external-metadata/morgan-dollars.xlsx
  scripts/add_morgan_dollars.py
Due: validate-json-exports, data-integrity-check

Standardize variety suffix patterns across coins - Issue #70
  CLAUDE.md
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/commemorative_half_dollars.json
  data/us/coins/three_cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/export_db_v1_1.py
  scripts/standardize_variety_suffixes.py
  scripts/validate_coin_entry.py
Due: validate-json-exports, data-integrity-check

Add coin series expansion and AI export improvements - Issues #72-76
  data/ai-optimized/us_taxonomy.json
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_dollars.json
  data/us/coins/quarter_eagles.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/grade_standards.json
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  scripts/add_half_dollars.py
  scripts/add_international_bullion.py
  scripts/add_mexico_gold_libertads.py
  scripts/add_missing_us_series.py
  scripts/add_quarter_eagles.py
  scripts/export_ai_taxonomy.py
Due: validate-json-exports, data-integrity-check

Add America the Beautiful series - Issues #77 and #78
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/5oz_silver.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  scripts/add_atb_series.py
Due: validate-json-exports, data-integrity-check

Add fractional Mexican Libertad type codes - Issue #82
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/mx_issues.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_fractional_libertads.py
Due: validate-json-exports, data-integrity-check

Add large Mexican Libertad type codes - Issue #83
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/mx_issues.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/mx_issues.json
  docs/data/universal/taxonomy_summary.json
  scripts/add_large_libertads.py
Due: validate-json-exports, data-integrity-check

Add taxonomy documentation and series codes - Issues #84, #85, #86
  coins.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/coins/$1.json
  data/us/coins/$10.json
  data/us/coins/$25.json
  data/us/coins/$5.json
  data/us/coins/$50.json
  data/us/coins/5oz_silver.json
  data/us/coins/cents.json
  data/us/coins/commemorative_dollars.json
  data/us/coins/commemorative_half_dollars.json
  data/us/coins/commemorative_quarters.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/engelhard_bullion.json
  data/us/coins/fifty_dollars.json
  data/us/coins/gold_dollars.json
  data/us/coins/half_dollars.json
  data/us/coins/quarter_eagles.json
  data/us/coins/quarters.json
  data/us/coins/three_cents.json
  data/us/us_coins_complete.json
  docs/PROJECT_DOCS.md
  docs/SOURCE_OF_TRUTH.md
  docs/series-codes/american-eagles.md
  docs/series-codes/commemorative-half-dollars.md
  docs/series-codes/libertads.md
  docs/series-codes/morgan-dollars.md
  docs/taxonomy-id-format.md
  scripts/add_series_codes.py
  scripts/export_from_database.py
  scripts/validate_taxonomy.py
Due: validate-json-exports

Add PR workflow requirement to CLAUDE.md
  CLAUDE.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Add Modern Commemorative (MCOM) catch-all series codes - Issue #88
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/series_registry.json
  scripts/add_mcom_modern_commemorative.py
Due: validate-json-exports, data-integrity-check

Improve CLAUDE.md with commands, architecture, and type codes
  CLAUDE.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Add world bullion and vintage bar categories - Issue #90
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/no_face_value.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/grade_standards.json
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  scripts/add_bullion_expansion_issue90.py
Due: validate-json-exports, data-integrity-check

Add vintage US type coins and world silver series - Issue #92
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/half_dollars.json
  data/us/coins/no_face_value.json
  data/us/coins/quarters.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  scripts/add_vintage_coins_issue92.py
Due: validate-json-exports, data-integrity-check

Add Libertad weight patterns and exclusion keywords as source of truth - Issue #95
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/mx/libertad/denominations.json
  data/mx/libertad/exclusions.json
  data/mx/libertad/weight_patterns.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Add 10 classic US gold series - Issue #97
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/coins/$10_gold.json
  data/us/coins/$1_gold.json
  data/us/coins/$20_gold.json
  data/us/coins/$3_gold.json
  data/us/coins/$5_gold.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/series_registry.json
  scripts/backfill_classic_gold.py
Due: validate-json-exports, data-integrity-check

Add historical US coin series - Issues #98-103
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/$100_gold.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  data/us/coins/quarters.json
  data/us/coins/twenty_cents.json
  data/us/coins/two_cents.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/backfill_historical_series.py
Due: validate-json-exports, data-integrity-check

Add coin series - Issues #106-110
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/grade_standards.json
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  scripts/backfill_issues_106_110.py
Due: validate-json-exports, data-integrity-check

Add taxonomy hierarchy and DB-only validation framework - Epic #116
  CLAUDE.md
  archive/legacy-db/coins_legacy_20260119.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/taxonomy_changes.jsonl
  data/taxonomy_id_redirects.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/SOURCE_OF_TRUTH.md
  scripts/utils/taxonomy_validator.py
  scripts/validate_taxonomy.py
  tests/test_taxonomy_validation.py
Due: validate-json-exports, data-integrity-check

Add series_group to migration and export scripts - Issues #120, #121
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/export_db_v1_1.py
  scripts/migrate_to_universal_v1_1.py
Due: validate-json-exports, data-integrity-check

Use shared TaxonomyValidator and archive stale DB - Issues #113, #115
  data/ai-optimized/us_taxonomy_year_list.json
  data/coins.db
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/validate_coin_entry.py
  scripts/validate_taxonomy.py
Due: validate-json-exports

Fix data/coins.db path references to use canonical database/coins.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/HIERARCHICAL_VARIANT_RESOLUTION.md
  docs/archived/next_sprint_primer_old.md
  scripts/add_buffalo_nickel_variants.py
  scripts/add_coin_variants_table.py
  scripts/add_variant_hierarchy.py
  scripts/auction_catalog_parser.py
  scripts/complete_buffalo_nickel_variants.py
  scripts/marketplace_listing_matcher.py
  scripts/migrate_hierarchical_variant_resolution.py
  scripts/query_coin_variants.py
  scripts/update_variant_priority_scores.py
  scripts/variant_resolver.py
  tests/test_hierarchical_variant_resolution.py
Due: validate-json-exports, data-integrity-check

docs: add search query schema documentation - Issue #126
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/grade_standards.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/PROJECT_DOCS.md
  docs/search-query-schema.md
Due: validate-json-exports

Fix corrupted series abbreviations in coins.db - Issue #129
  data/ai-optimized/us_taxonomy_year_list.json
  data/inventory/coin_inventory.json
  data/universal/ca_issues.json
  data/universal/grade_standards.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/coins/no_face_value.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/ca_issues.json
  docs/data/universal/grade_standards.json
  docs/data/universal/series_registry.json
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  docs/plans/2026-02-23-fix-corrupted-series-abbreviations-plan.md
  scripts/fix_corrupted_abbreviations.py
  scripts/utils/taxonomy_validator.py
Due: validate-json-exports, data-integrity-check

Add solution documentation for corrupted abbreviations fix
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/solutions/database-issues/corrupted-series-abbreviations-migration.md
Due: validate-json-exports

Add solution documentation for bullion taxonomy migration - Issue #130
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/plans/2026-02-23-feat-add-missing-bullion-taxonomy-codes-plan.md
  docs/solutions/database-issues/missing-bullion-taxonomy-migration.md
Due: validate-json-exports

docs: Update README for world bullion scope, add Coindex.app sponsorship
  README.md
  docs/solutions/database-issues/missing-bullion-taxonomy-migration.md
Due: none

docs: Update README for world bullion scope, add Coindex.app sponsorship (#139)
  README.md
  docs/solutions/database-issues/missing-bullion-taxonomy-migration.md
Due: none

Path conditions:
  validate-json-exports: any of: data/.*\.json$
  data-integrity-check: any of: (database/coins\.db|scripts/migrate.*\.py)$
