Repository mattsilv/coin-taxonomy: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-database-to-json, validate-json-exports, data-integrity-check

.pre-commit-config.yaml:

# Pre-commit hooks for coin-taxonomy
# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: export-database-to-json
        name: Export database to JSON files
        entry: uv run python scripts/export_db_v1_1.py
        language: system
        files: database/coins\.db$
        pass_filenames: false
        always_run: false
        
      - id: validate-json-exports
        name: Validate JSON exports
        entry: uv run python scripts/validate.py
        language: system
        files: data/.*\.json$
        pass_filenames: false
        always_run: false
        
      - id: data-integrity-check
        name: Run data integrity check
        entry: uv run python scripts/data_integrity_check.py
        language: system
        files: (database/coins\.db|scripts/migrate.*\.py)$
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

Add docs/ folder to .gitignore
  .gitignore
Due: none

Add export timestamp to taxonomy summary
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  scripts/export_db_v1_1.py
  scripts/migrate_to_universal_v1_1.py
Due: validate-json-exports, data-integrity-check

Test commit to verify pre-commit hook
  data/universal/taxonomy_summary.json
  test_file.txt
Due: validate-json-exports

Add GitHub Pages site with collector-focused features and e2e testing
  data/universal/taxonomy_summary.json
  scripts/test_github_pages.js
  test_file.txt
Due: validate-json-exports

Remove docs folder from public repo and enhance local testing
  LOCAL_TESTING.md
  data/universal/taxonomy_summary.json
  docs/CONTRIBUTING_DEVELOPERS.md
  docs/coin-research.md
  docs/database_architecture.md
  docs/database_schema_v1_1.md
  docs/planning/final_design_spec.md
  docs/planning/fixes.md
  docs/planning/fixes2.md
  docs/planning/fixes3.md
  docs/planning/initial.md
  pyproject.toml
  scripts/serve_site.py
  scripts/test_github_pages.js
Due: validate-json-exports

Enhance Universal Currency Taxonomy UI with professional features
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  scripts/export_db_v1_1.py
  scripts/serve_site.py
  scripts/test_github_pages.js
Due: validate-json-exports

Add GitHub Pages live demo link to README
  README.md
  data/universal/taxonomy_summary.json
Due: validate-json-exports

Enable GitHub Pages by adding docs folder to repository
  .gitignore
  docs/CONTRIBUTING_DEVELOPERS.md
  docs/README.md
  docs/_config.yml
  docs/app.js
  docs/data/universal/composition_registry.json
  docs/data/universal/series_registry.json
  docs/data/universal/subject_registry.json
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  docs/database_schema_v1_1.md
  docs/index.html
  docs/planning/2025-07-27-Gemini-Analysis.md
  docs/planning/2025-07-27-frontend-review.md
  docs/planning/final_design_spec.md
  docs/planning/new-intl.md
  docs/server.log
Due: validate-json-exports

Clean up docs folder for GitHub Pages
  data/universal/taxonomy_summary.json
  docs/CONTRIBUTING_DEVELOPERS.md
  docs/README.md
  docs/database_schema_v1_1.md
  docs/planning/2025-07-27-Gemini-Analysis.md
  docs/planning/2025-07-27-frontend-review.md
  docs/planning/final_design_spec.md
  docs/planning/new-intl.md
  docs/server.log
  scripts/test_github_pages.js
Due: validate-json-exports

Implement 4-letter TYPE code standardization
  CLAUDE.md
  README.md
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/nickels.json
  data/us/coins/quarters.json
  data/us/schema/coin.schema.json
  scripts/4letter_mapping.py
  scripts/update_to_4letter_types.py
Due: validate-json-exports

Update frontend data and README with 4-letter TYPE codes
  README.md
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  scripts/update_issues_table_4letter.py
  scripts/update_issues_with_series_mapping.py
Due: validate-json-exports

Regenerate taxonomy summary with latest timestamp
  data/universal/taxonomy_summary.json
Due: validate-json-exports

🏗️ Implement complete database rebuild pipeline
  .github/workflows/update-data-exports.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  scripts/init_database_from_json.py
  scripts/rebuild_and_export.py
Due: validate-json-exports

Update us_coins_complete.json with 4-letter TYPE codes
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/data/universal/taxonomy_summary.json
Due: validate-json-exports

Update CLAUDE.md to require committing ALL files
  CLAUDE.md
  data/universal/taxonomy_summary.json
Due: validate-json-exports

🔧 Relax validation schema to focus on coin identification
  data/universal/taxonomy_summary.json
  data/us/schema/coin.schema.json
Due: validate-json-exports

🤖 Add AI-optimized taxonomy export with 83% size reduction
  README.md
  data/ai-optimized/metadata.json
  data/ai-optimized/us_taxonomy.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  scripts/export_ai_taxonomy.py
  scripts/export_from_database.py
  scripts/validate_ai_taxonomy.py
Due: validate-json-exports

🖼️ Add comprehensive visual descriptions to AI taxonomy
  README.md
  data/ai-optimized/metadata.json
  data/ai-optimized/us_taxonomy.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/ai-coin-description-task.md
  docs/us_coin_visual_descriptions.json
  scripts/export_ai_taxonomy.py
  scripts/migrate_visual_descriptions.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

🧹 Clean up temporary research files
  data/universal/taxonomy_summary.json
  docs/temp-coin-fact-check-findings.json
  docs/temp-coin-research.md
Due: validate-json-exports

📖 Embed metadata directly in AI taxonomy file
  data/ai-optimized/metadata.json
  data/ai-optimized/us_taxonomy.json
  data/universal/taxonomy_summary.json
  scripts/export_ai_taxonomy.py
Due: validate-json-exports

🔒 Enforce visual descriptions as required fields for all new coin entries
  data/ai-optimized/us_taxonomy.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_cents.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  data/us/coins/quarters.json
  data/us/coins/trade_dollars.json
  data/us/coins/twenty_cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/export_from_database.py
  scripts/require_visual_descriptions.py
  scripts/validate_coin_entry.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

🌍 Implement universal currency taxonomy with international support
  .gitignore
  data/ai-optimized/us_taxonomy.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/data/universal/taxonomy_summary.json
  docs/data/universal/us_issues.json
  docs/temp-chatgpt-agent.md
  docs/temp-geminidr.md
  scripts/backfill_historical_coins.py
  scripts/export_from_database.py
  scripts/fix_coin_id_constraints.py
  scripts/implement_universal_taxonomy.py
  scripts/init_database_from_json.py
  scripts/test_international_currencies.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

🤖 Add dual-format AI taxonomy exports with token optimization
  data/ai-optimized/us_taxonomy.json
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  scripts/count_tokens.py
  scripts/export_ai_taxonomy.py
Due: validate-json-exports

🤖 Add dual-format AI taxonomy exports with token optimization
  .gitignore
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
  docs/temp-chatgpt-agent.md
  docs/temp-geminidr.md
  pyproject.toml
Due: export-database-to-json, validate-json-exports, data-integrity-check

Add Fugio Cent (1787) series with 15 PCGS varieties
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/schema/coin.schema.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_fugio_cent.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Add comprehensive historical coin coverage (1793-1900)
  .pre-commit-config.yaml
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_cents.json
  data/us/coins/half_dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  data/us/coins/quarters.json
  data/us/coins/trade_dollars.json
  data/us/coins/twenty_cents.json
  data/us/schema/coin.schema.json
  data/us/us_coins.db
  data/us/us_coins_complete.json
  database/coins.db
  scripts/backfill_large_cents.py
  scripts/backfill_seated_half_dimes.py
  scripts/backfill_seated_liberty_comprehensive.py
  scripts/export_from_database.py
  scripts/fix_varieties_format.py
  scripts/json_validator.py
  scripts/validate_json_exports.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Fix Lincoln cent composition periods with precise specifications
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/fix_lincoln_cent_compositions.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Fix US Quarter composition periods with precise specifications
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/quarters.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/fix_quarter_compositions.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

🔍 Comprehensive U.S. silver coin composition verification and corrections
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  database/coins.db
  scripts/fix_comprehensive_compositions.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Add comprehensive Kennedy Half Dollar series with accurate composition data
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/series_registry.json
  data/universal/taxonomy_summary.json
  data/universal/us_issues.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/dollars.json
  data/us/coins/half_dollars.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_kennedy_half_dollars.py
  scripts/add_seller_name_column.py
  scripts/fix_kennedy_json_fields.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

✅ Database-first architecture verified and issues resolved
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  docs/app.js
  docs/data/universal/us_issues.json
  docs/index.html
  scripts/add_missing_coin_series.py
  scripts/export_db_v1_1.py
  scripts/export_from_database.py
  scripts/migrate_to_universal_v1_1.py
Due: validate-json-exports, data-integrity-check

Implement all 8 missing US coin series from Issue #17 (Closes #17)
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/dollars.json
  data/us/coins/half_dollars.json
  data/us/coins/three_cents.json
  data/us/coins/twenty_cents.json
  data/us/coins/two_cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/add_missing_coin_series.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Complete Lincoln Wheat Cent series (1909-1958) - 134 new records added
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/complete_lincoln_wheat_cents.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Add comprehensive US coin series from Issue #21 research
  README.md
  coins.db
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/coins/dimes.json
  data/us/coins/half_dollars.json
  data/us/coins/nickels.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/fix_coin_id_format.py
  scripts/fix_remaining_validation_errors.py
  scripts/fix_string_varieties.py
  scripts/migrate_jefferson_nickels.py
  scripts/migrate_lincoln_shield_cents.py
  scripts/migrate_roosevelt_dimes.py
  scripts/migrate_walking_liberty_half_dollars.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Complete Washington Quarter series (1932-1998) - 176 new records added
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/quarters.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/complete_washington_quarters.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

Update coin count to reflect Lincoln Memorial Cents addition
  README.md
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
Due: validate-json-exports

Complete Washington Quarter series (1932-1998) - 176 new records added
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/us_coins_complete.json
  database/coins.db
Due: export-database-to-json, validate-json-exports, data-integrity-check

Complete Lincoln Memorial Cent series (1959-2008) - 171 new records added
  data/ai-optimized/us_taxonomy_year_list.json
  data/universal/taxonomy_summary.json
  data/us/coins/cents.json
  data/us/us_coins_complete.json
  database/coins.db
  scripts/migrate_lincoln_memorial_cents.py
Due: export-database-to-json, validate-json-exports, data-integrity-check

🧹 Clean up branch merges and fix variety format issues
  data/us/us_coins_complete.json
Due: validate-json-exports
